img {
    min-width: 10rem;
    height: 10rem;
  }

p {
  margin: 2rem 0;
}

h1 {
    text-transform: capitalize;
    font-weight: bold;
}

.intro-data {
    margin-bottom: 0;
}
  

.main-section-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    position: relative;
}
img::after {
    position: relative;
  content: "";
    width: 60%;
    height: 80%;
    background-color: rgba(81, 56, 238, 0.4);
    position: absolute;
    left: 50%;
    top: -5rem;
    z-index: -1;
}
.img-style {
    width: 100%;
    height: auto;
}

@media (max-width:768px) {
.grid {
    gap: 10rem;
}

img::after {
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 10%;
    /* bottom: 10%; */
    background-color: rgba(81, 56, 238, 0.4);
}
}
